.container {
  height: 600px;
  width: 400;
  background-color: #333;
  align-items: center;
  max-width: 100%;
}
li{
  list-style: none;
  display: inline-block;
  color: #222;
  margin: 20px;
  padding: 10px 20px;
  background-color: #e7e7e7;
  border-radius: 4px;
  
}
a {
  text-decoration: none;  
}